{% extends "snippets/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dlib | Digital Library</title>
</head>

<body>
    {% block container %}

    <div class="container">
        <br><br><br><br>
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content white-text">
                        <h4 class="black-text center-align">Login</h4><br>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="input-field">
                                <input placeholder="Placeholder" id="username" name="username" type="text" class="validate">
                                <label for="first_name">Username</label>
                            </div>
                            <div class="input-field">
                                <input id="password" name="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div><br>
                            <div class="input-field row">
                                <input type="submit" id="login" name="login" value="login"
                                    class="waves-effect waves-light btn-large yellow black-text col s12">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock container %}
</body>

</html>